.header-sidebar{
    position: relative;
    top: 0;
    bottom: 0;
    min-height: calc(100vh - 16px);
    width: 30%;
    background: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    z-index: 10;
    transition: 1.3s;
    transition-delay: 0.3s, 0s;
    transition-property: transform, width;
}

.header-sidebar ul{
    overflow-x: hidden;
}

.header-sidebar.hidden{
    transform: translateX(-100%);
    transition: 1.3s ease-in-out;
    transition-delay: 0s, 0.9s;
    transition-property: transform, width;
    width: 0;
}

.header-sidebar__logo{
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ffffff1f;
    overflow-x: hidden;
}

.header-sidebar__logo h3{
    white-space: nowrap;


}
.header-sidebar__list {
    width: 100%;
    margin: 10px 0;
    overflow-y: auto;
}

.header-sidebar__list li{
    list-style-type: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
}
.header-sidebar__list li a{

    gap: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.header-sidebar__list li svg{
    width: 30px;
}

.header-sidebar__list li:hover{
    background: #9c27b0;
}


.header-sidebar__list__sub{
    position: absolute;
    left: 95%;
    background: #9c27b0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding-top: 57px;
    opacity: 0;
    visibility: hidden;
    width: 250px;


}
.header-sidebar__list__sub:hover,
.header-sidebar__list li:hover .header-sidebar__list__sub
{
    opacity: 1;
    visibility: visible;
}



.header-sidebar__list__sub li:hover
{
    background: #101010;
}


.header-sidebar__button{
    position: absolute;
    right: -50px;
    background: white;
    padding: 8px;
    border-radius: 50%;
    color: #101010;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14),0 0 0 0 transparent,0 0 0 0 transparent;
    cursor: pointer;
    transition: 1s;
}

.header-sidebar__button:hover{
    background: #cbd8e2;
}

@media (max-width: 1029px) {

    .header-sidebar__list li a{
        font-size: 20px;
    }
}

@media (max-width: 691px) {

    .header-sidebar__list li a{
        font-size: 15px;
    }
}

@media (max-width: 547px) {

    .header-sidebar{
        position: absolute;
        max-width: calc(100% - 80px);
        top:0;
        bottom: 0;
    }
}