.search-box-holder{
    display: flex;
    justify-content: flex-end;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    background-color: #6658d3;
    padding: 2px 40px 2px 10px;
    color:#fff;
}
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top:0;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
    display: flex;
    align-items: center;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    background-color: #9c27b0;

    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}
.input-search:focus{
    width: 300px;
    background-color:#9c27b0;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}